{% extends 'layout.html' %}

{% block title %}
    Application Setting
{% endblock title %}

{% block content %}
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">
                            <div>
                            {% for message in get_flashed_messages() %}
                                <p style="color: red;">{{ message }}</p>
                            {% endfor %}
                                <h3>Application Setting</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <form action="{{ url_for('admin.application_settings_update') }}" method="POST">
                            {% for setting in settings %}
                                <div class="form-group row">
                                    <label class="col-2">{{ setting.description }}</label>
                                    {% if setting.key == 'setting.recipient' %}
                                        <div class="col-4">
                                            <select name="{{ setting.key }}" class="form-control select2" multiple="multiple">
                                                {% set values = setting.value.split(',') %}
                                                {% for value in values %}
                                                    <option selected value="{{ value }}">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                            <!-- <input type="text" name="{{ setting.key }}" value="{{ setting.value }}" class="form-control"> -->
                                        </div>
                                    {% else %}
                                        <div class="col-4">
                                            <input type="text" name="{{ setting.key }}" value="{{ setting.value }}" class="form-control">
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                                <div class="row">
                                    <div class="col-4 col-offset-2">
                                        <button class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}