{% extends 'layout.html' %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <h3>10 Latest Task Email Schedule</h3>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Event ID</th>
                                        <th>Subject</th>
                                        <th>Timesend</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                        <tr>
                                            <th>{{ loop.index }}</th>
                                            <th>{{ task.event_id }}</th>
                                            <th>{{ task.subject }}</th>
                                            <th>{{ task.timesend }}</th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}