{% extends 'layout.html' %}

{% block title %}
    Save Email
{% endblock title %}

{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <h3>Save Email</h3>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form action="">
                                <div class="form-group row">
                                    <label class="col-2"></label>
                                    <div class="col-4">
                                        <input type="number" name="event_id" class="form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}