{% extends 'layout.html' %}

{% block title %}
    Task Email List
{% endblock title %}

{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <h3>Task Email List</h3>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-task">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Event ID</th>
                                        <th>Subject</th>
                                        <th>Timesend</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                        <tr>
                                            <th>{{ loop.index }}</th>
                                            <th>{{ task.event_id }}</th>
                                            <th>{{ task.subject }}</th>
                                            <th>{{ task.timesend }}</th>
                                            <th><a href="{{ url_for('admin.task_detail', task_id=task.id) }}"><i class="mdi mdi-information text-inverse"></i></a></th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}