{% extends 'layout.html' %}

{% block title %}
    Task Email Detail
{% endblock title %}

{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <h3>Task Email Detail</h3>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Event ID</td>
                                        <td>{{ task.event_id }}</td>                                    
                                    </tr>
                                    <tr>
                                        <td>Subject</td>
                                        <td>{{ task.subject }}</td>
                                    </tr>
                                    <tr>
                                        <td>Body</td>
                                        <td>{{ task.body }}</td>
                                    </tr>
                                    <tr>
                                        <td>Time Send</td>
                                        <td>{{ task.timesend }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}